.mainview_container{
  display: flex;
  place-self: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  min-height: 80vh;
  width: 80vw;
  padding: 50px 0;
  background-color: #0000002e;
}

.card_container{
  display: flex;
  justify-content: center;
  padding: 20px;
  gap: 50px;
  width: 80%;
  flex-wrap: wrap;
  height: auto;
}

.main_title{
  font-size: 4rem;
  font-weight: bold;
  color: white;
  background-color: #fa8072a3;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.instructions{
  font-size: 2.2rem;
  color: #ffffff;
  margin-top: 50px;
  border: 1px solid #fa8072a3;
  padding: 10px;
  max-width: 700px;
}

.instructions span{
  color: #ffa59a;
}